* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: hsl(185, 75%, 39%);
    position: relative;
}
body::after,
body::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 99;
    background-size: cover;
    width: 60%;
    padding-bottom:60%;

    overflow-y: hidden;
}
body::after {
    top: 0;
    left: 0;
    transform: translate(-20%,-50%);
    background-image: url(images/bg-pattern-top.svg);
}
body::before {
    bottom: -50%;
    right: -50%;
    transform: translate(-60%,20%);
    background-image: url(images/bg-pattern-bottom.svg);
}
/* .bg-pattern-top, 
.bg-pattern-bottom {
    position: absolute;
    width: 50%;
    z-index: 99;
}
.bg-pattern-top {
    top: 0;
    left: 0;
}
.bg-pattern-bottom {
    bottom: 0;
    right: 0;
} */
.container {
    max-width: 375px;
    text-align: center;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.06);
    /* position: relative; */
    background-color: #fff;

    border-radius: 10px;
    overflow: hidden;
    z-index: 999;
}
header {
    display: block;
    background-image: url(./images/bg-pattern-card.svg);
    background-size: cover;
    position: relative;
}
.vic-img {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 5px solid #fff;
    top: 265px;
    right: 50%;
    transform: translate(50%,-50%);
}
.primary-heading {
    font-size: 18px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 5px;
}
.primary-heading strong {
    margin-right: 5px;
}
.primary-heading span {
    font-weight: 400;
}
p, 
.primary-heading span {
    color: hsl(0, 0%, 59%);
}
p {
    margin-bottom: 24px;
}
.list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px 24px;

    border-top: 0.5px solid hsl(0, 0%, 59%);
}
.card-list {
    list-style: none;
}
.list-number {
    font-size: 15px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    margin-bottom: 5px;
}
.list-text {
    font-size: 10px;
    color: hsl(0, 0%, 59%);
    letter-spacing: 1px;
}